html[data-ipad] {overflow-anchor:none;}
html[data-ipad-rotating]::after {content:'';position:fixed;inset:0;background:#efefef;z-index:2147483647;pointer-events:all;}
html[data-ipad-rotating] {overflow:hidden;}
